html,body{
     background-color:rgb(255, 255, 255) ;
     height:100%;
     margin: 0px;
     overflow-x: hidden;
     width: 100%;
     
 
}


#header{ 
min-height: 100%;
background-color:rgb(0, 0, 0) ;
outline: rgb(5, 253, 46) 2px solid;


  
}

#header h2{
    color: rgb(255, 255, 255);
     text-align: center;
     width: 400px;
     outline: rgb(5, 253, 46) 2px solid;
     margin-top: 60px;
 
     
}

#quote{
    width: fit-content;
    height: fit-content;;
    border: rgb(117, 116, 114) 5px solid;
    animation-name: Radius;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    margin: auto;
    transform: translate(0%,30%);
    outline: rgb(5, 253, 46) 2px solid;
    padding: 30px 30px 30px 30px;
}

#header h4{
    color: rgb(255, 255, 255);
    border: rgb(116, 115, 114) 2px solid;
    text-align: center;
    width: 100px;
    padding: 15px 15px 15px 15px;
    margin: auto;
    transform: translate(0%,300%);
    outline: rgb(5, 253, 46) 2px solid;
    
}

#nav{ 
  overflow: hidden;
  background-color: #333;  
}

#nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#Aboutme{
  margin: auto;
}
#profile{
  width: 250px;
  height: 250px;
 
}
/* diffrent media platforms */

@media only screen and (max-width:800px) {
    /* For tablets: */

  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */

  #header h2{
    color: rgb(255, 255, 255);
     text-align: center;
     width:250px;
     
}

#quote{
  padding: 20px 20px 20px 20px;
}
}
  

  /* The animation code */
@keyframes Radius {
    0%   { border-radius:0%;}
    25%  { border-radius:45%;}
    50%  {border-radius:75%;}
    100% {border-radius:0%;}
  }

